<h2>Product Details</h2>
<a [routerLink]="['/']">continue buying...</a>

<div *ngIf="product as p; ">
  <div class="cart-item">
    <h3>{{ p.name }} </h3>
    <h4>{{ p.price | currency }}</h4>
    <h5>added</h5>
    <p>{{ p.description }}</p>
  </div>

  <div *ngFor="let association of p.associations;">
    <a [title]="association.name" [routerLink]="['/products',association.id]"
      (click)="gotoProductDetailsV2('/products',association.id)">
      <div class="select-item">
        <h5>add</h5>
        <h3>{{ association.name }}</h3>
        <h6>{{ association.price | currency}}</h6>
        <h6>{{ association.description}}</h6>
      </div>
    </a>

  </div>
</div>
